{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static '../../static/css/nosotros.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '../../static/css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static '../../static/css/all.min.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <title>Comunidad</title>
</head>
<body>
    <header id="header">
		<nav class="menu">	
			<div class="logo">
				<a href="index.html"><img src="{% static '../../static/img/logolargo3.png' %}" alt="Logo"></a>
				<a href="#" class="btn-menu" id="btn-menu"><i class="icono fas fa-bars"></i></a>
			</div>
			<div class="enlaces" id="enlaces">
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="#">Productos</a>
						<ul>
							<li class="current"><a href="u-desk.html">U-Desk</a></li>
							<li><a href="curtain.html">Smart Curtain</a></li>
							<li><a href="armband.html">Smart Armband</a></li>
						</ul>
					</li>
					<li><a href="nosotros.html">Contáctanos</a></li>
					<li><a href="comunidad.html">Comunidad</a></li>
				</ul>
			</div>
		</nav>
    </header>
    
    <main>
        <div class="article">
            <div class="page-header">
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <h1><a href="/">Comunidad</a></h1>
                <br><br>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>   
    </main>


    <footer>
        <nav class="footer">	
            <div class="info">
                <p>Copyright &copy; 2019 | The Silly Company</p>
            </div>
            <div class="enlacesRs" id="enlacesRs">
                <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i> </a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i></a>
            </div>
        </nav>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static '../../../../static/js/headroom.min.js' %}"></script>
    <script src="{% static '../../../../static/js/jquery.slides.js' %}"></script>
    <script src="{% static '../../../../static/js/index.js' %}"></script>
</body>
</html>